<div class="container-fluid">
  <h1 class="home">Dashboard</h1>
  <div class="col-md-2">
    <div class="card">
      <div class="card-block">
        <%= image_tag current_user.image, class: "card-img-top"  %>
        <h4 class="card-title"><%= current_user.nickname %></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<%= current_user.bio %></p>
        <p class="card-text"><div class="followers"><span class="counter"><strong>125</strong> </span>followers</div></p>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="my-pics">
    </div>
  </div>
</div>