---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4863'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"al.tides","bio":"","website":"","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11887039_1475445926116578_771327568_a.jpg","full_name":"Alex
        Tideman","counts":{"media":5,"followed_by":2,"follows":2},"id":"2177716938"}}'
  recorded_at: Fri, 11 Sep 2015 17:15:31 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4862'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441839315","link":"https:\/\/instagram.com\/p\/7bWfGfHk30\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":null,"user_has_liked":false,"id":"1070548230722178548_2177716938","user":{"username":"al.tides","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11887039_1475445926116578_771327568_a.jpg","id":"2177716938","full_name":"Alex
        Tideman"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Moon","created_time":"1441839258","link":"https:\/\/instagram.com\/p\/7bWYGPnk3n\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c&q=Alex
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4860'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":2067936.0,"name":"alex"},{"media_count":1011084.0,"name":"alexgaskarth"},{"media_count":749405.0,"name":"alexanderwang"},{"media_count":663403.0,"name":"alexturner"},{"media_count":603289.0,"name":"alexfromtarget"},{"media_count":600418.0,"name":"alexandermcqueen"},{"media_count":591886.0,"name":"alexandani"},{"media_count":573308.0,"name":"alexis"},{"media_count":570371.0,"name":"alexandria"},{"media_count":430336.0,"name":"alexander"},{"media_count":336914.0,"name":"alexa"},{"media_count":252192.0,"name":"alex[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/alex/media/recent.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4859'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1071818732848067275","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1071818732848067275","next_min_id":"1071825971311651592","min_tag_id":"1071825971311651592","next_url":"https:\/\/api.instagram.com\/v1\/tags\/alex\/media\/recent?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c\u0026max_tag_id=1071818732848067275"},"meta":{"code":200},"data":[{"attribution":null,"tags":["alex","oitnb"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Clarendon","created_time":"1441991634","link":"https:\/\/instagram.com\/p\/7f5ArJEasI\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11931031_1638347163085998_2115591586_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e35\/c42.0.280.280\/11821112_1671794389705165_1744582464_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11931031_1638347163085998_2115591586_n.jpg","width":320,"height":320}},"users_in_photo":[],"caption":{"created_time":"1441991634","text":"#OITNB
        #Alex","from":{"username":"dark.girl6","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11930883_1062614550418229_2112103651_a.jpg","id":"1308091129","full_name":"\u042d\u043b\u044c\u0432\u0438\u0440\u0430"},"id":"1071825973484300722"},"user_has_liked":false,"id":"1071825971311651592_1308091129","user":{"username":"dark.girl6","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11930883_1062614550418229_2112103651_a.jpg",[...]
