---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4888'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"al.tides","bio":"","website":"","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11887039_1475445926116578_771327568_a.jpg","full_name":"Alex
        Tideman","counts":{"media":5,"followed_by":2,"follows":2},"id":"2177716938"}}'
  recorded_at: Fri, 11 Sep 2015 18:22:37 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4887'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441839315","link":"https:\/\/instagram.com\/p\/7bWfGfHk30\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":null,"user_has_liked":false,"id":"1070548230722178548_2177716938","user":{"username":"al.tides","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11887039_1475445926116578_771327568_a.jpg","id":"2177716938","full_name":"Alex
        Tideman"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Moon","created_time":"1441839258","link":"https:\/\/instagram.com\/p\/7bWYGPnk3n\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4885'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":1574,"data":[{"created_time":"1441988185","text":"@trist_vn","from":{"username":"grim_015","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11357734_976233805732535_303851127_a.jpg","id":"38146898","full_name":"Malik
        Slaton"},"id":"1071797042117807006"},{"created_time":"1441989766","text":"@sapc_16  @saulp27","from":{"username":"renaro16","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xat1\/t51.2885-19\/1599978_881702218542638_1486127548_a.jpg","id":"461724734","full_name":"rene
        aldair[...]
