---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4874'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"al.tides","bio":"","website":"","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11887039_1475445926116578_771327568_a.jpg","full_name":"Alex
        Tideman","counts":{"media":5,"followed_by":2,"follows":2},"id":"2177716938"}}'
  recorded_at: Fri, 11 Sep 2015 18:20:27 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4873'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441839315","link":"https:\/\/instagram.com\/p\/7bWfGfHk30\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":null,"user_has_liked":false,"id":"1070548230722178548_2177716938","user":{"username":"al.tides","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11887039_1475445926116578_771327568_a.jpg","id":"2177716938","full_name":"Alex
        Tideman"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Moon","created_time":"1441839258","link":"https:\/\/instagram.com\/p\/7bWYGPnk3n\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c&q=Alex
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4871'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":2076043.0,"name":"alex"},{"media_count":1009646.0,"name":"alexgaskarth"},{"media_count":749873.0,"name":"alexanderwang"},{"media_count":663451.0,"name":"alexturner"},{"media_count":603289.0,"name":"alexfromtarget"},{"media_count":599650.0,"name":"alexandermcqueen"},{"media_count":591364.0,"name":"alexandani"},{"media_count":573285.0,"name":"alexis"},{"media_count":570534.0,"name":"alexandria"},{"media_count":430336.0,"name":"alexander"},{"media_count":336914.0,"name":"alexa"},{"media_count":252232.0,"name":"alex[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/alex/media/recent.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4870'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1071851204030153435","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1071851204030153435","next_min_id":"1071858510826251944","min_tag_id":"1071858510826251944","next_url":"https:\/\/api.instagram.com\/v1\/tags\/alex\/media\/recent?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c\u0026max_tag_id=1071851204030153435"},"meta":{"code":200},"data":[{"attribution":null,"tags":["alex","\u0627\u0628\u064a\u0636_\u0648\u0627\u0633\u0648\u062f"],"type":"image","location":null,"comments":{"count":4,"data":[{"created_time":"1441995468","text":"\u0627\u062d\u0645\u0631","from":{"username":"sooos_q2","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11377853_492802640883563_1762334518_a.jpg","id":"1667125041","full_name":"Welcome"},"id":"1071858131985006032"},{"created_time":"1441995481","text":"\u0627\u0633\u0648\u062f","from":{"username":"sooos_q2","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11377853_492802640883563_1762334518_a.jpg","id":"1667125041","full_name":"Welcome"[...]
