---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4948'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"al.tides","bio":"","website":"","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11887039_1475445926116578_771327568_a.jpg","full_name":"Alex
        Tideman","counts":{"media":5,"followed_by":2,"follows":2},"id":"2177716938"}}'
  recorded_at: Fri, 11 Sep 2015 15:49:24 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4947'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441839315","link":"https:\/\/instagram.com\/p\/7bWfGfHk30\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11875560_1467732236868983_1798784053_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":null,"user_has_liked":false,"id":"1070548230722178548_2177716938","user":{"username":"al.tides","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11887039_1475445926116578_771327568_a.jpg","id":"2177716938","full_name":"Alex
        Tideman"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Moon","created_time":"1441839258","link":"https:\/\/instagram.com\/p\/7bWYGPnk3n\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c&q=Alex
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4945'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":2067836.0,"name":"alex"},{"media_count":1009626.0,"name":"alexgaskarth"},{"media_count":749387.0,"name":"alexanderwang"},{"media_count":663437.0,"name":"alexturner"},{"media_count":603289.0,"name":"alexfromtarget"},{"media_count":599897.0,"name":"alexandermcqueen"},{"media_count":591266.0,"name":"alexandani"},{"media_count":573276.0,"name":"alexis"},{"media_count":570346.0,"name":"alexandria"},{"media_count":430326.0,"name":"alexander"},{"media_count":336673.0,"name":"alexa"},{"media_count":252149.0,"name":"alex[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/alex/media/recent.json?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4944'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1071774691808804873","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1071774691808804873","next_min_id":"1071782664553604573","min_tag_id":"1071782664553604573","next_url":"https:\/\/api.instagram.com\/v1\/tags\/alex\/media\/recent?access_token=2177716938.9f5aa00.d6cea0874258401ebdb6f1e58bae9f9c\u0026max_tag_id=1071774691808804873"},"meta":{"code":200},"data":[{"attribution":null,"tags":["play","alex","deporte","futbol","vegas","golpee","new","holly","soccer","morgan"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441986471","link":"https:\/\/instagram.com\/p\/7fvKelI6Xd\/","likes":{"count":1,"data":[{"username":"dave.v_lasvegas_promoter2","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11256817_1659709820926106_1689799941_a.jpg","id":"2112881934","full_name":"Dave
        Verzosa"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11849192_145750879102470_1292047697_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e35\/11849192_145750879102470_1292047697_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11849192_145750879102470_1292047697_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441986471","text":"Una
        sola pasi\u00f3n \ud83d\ude0a\ud83c\udf37\u2764\ufe0f\u2764\ufe0f #futbol
        #soccer #play #vegas #morgan #alex #golpee #holly #new #deporte","from":{"username":"julytoti","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11262813_1445221132446881_364649064_a.jpg","id":"336317280","full_name":"Julieth
        Alment #15"},"id":"1071782666030000092"},"user_has_liked":false,"id":"1071782664553604573_336317280","user":{"username":"julytoti","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11262813_1445221132446881_364649064_a.jpg","id":"336317280","full_name":"Julieth
      [...]
