<%= form_tag("/search", method: :post, id:"searchForm", class:"menu-search-form") do %>
    <%= label_tag "" %>
    <%= text_field_tag "search" %>
    <%= submit_tag "", class: 'btn menu-search-submit' %>
<% end %>



<!--<form id="searchForm" class="menu-search-form" method="post">-->
  <!--<input type="text" name="search" value="" class="menu-search-field" placeholder="Search the website" />-->
  <!--<input type="submit" value="" class="btn menu-search-submit" name="search-send" />-->
<!--</form>-->