<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Welcome to Flashbulb</h1>
    <h2 class="home">Your life, lit up.</h2>
    <%= link_to "Login with Instagram", "/auth/instagram", class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
