<div class="row home-page">
  <div class="col-md-2 home-2"><%= image_tag 'lightbulb.png', class: 'home-pic' %><div class='shine'></div>
  </div>
  <div class="col-md-10">
    <div class="container-fluid container-home">
      <div class="home-content">
        <h1 class="home">Welcome to Flashbulbz</h1>
        <h2 class="home">Your life, lit up.</h2>
      </div>
    </div>
  </div>
</div>