// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  background: rgba(0,0,0,.2);
  padding: 50px;
  width: 300px;
  height: 300px;
}

.card  img{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 100px;
}

.card-title {
  float:right;
}

.name {
  margin-top: -60px;
}

.card-img-top {
  flex-basis: 40px;
  background-color: #FBFBFB;
  border-radius: 50%;
  border: 1px solid #CCCFD0;
  box-sizing: border-box;
}

.card-img-main {
  border-radius: 50%;
  border: 1px solid #CCCFD0;
  box-sizing: border-box;
}


.widget-avatar {
  color:white;

}

h1 {
  text-align: center;
}

.card-title {
  text-align: center;
}

.my-pics {
  padding: 50px;
  width: 90%;
  float: right;
}

.my-pics .col-md-6 {
  width: 30%;
}

.post-text {
  text-align: center;
  margin-left: 50%;
}

#comment {
  font-size: 10px;
}