// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa {
  padding-top: 7px;
  padding-left: 20px;
}

#nav-title {
  position:absolute;
  margin-left: 45%;
}

#insta-logo {
  padding: 0;
  position: absolute;
  margin-left: 8%;
}

.container-home {
  margin-top:-30px;
  background: transparent image-url("lighthouse.jpg") no-repeat center;
  background-size:   cover;
  text-align: center;
  min-height: 570px;

}


.home {
  color: #d9ce8c;
  font-weight: 100;
}

.home-pic {
  float:right;
}

h1.home {
  font-size: 60px;
}

a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 2px;
  color: #60BFBF;
  font-weight: 100;
  border-color: #60BFBF;
  margin-top: 20px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

img.img-circle.img-thumbnail.home-image {
  height: 200px;
}
