// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-home {
  padding-top: 30vh;
  text-align: center;
}

.home {
  color: #2b2b2b;
  font-weight: 100;
}

.home-content {
  margin-top: -100px;
}

.home-pic {
  float:right;
}

.shine {
  margin-top: 150px;
  border-radius: 150px;
  box-shadow: 55px 30px 120px 70px rgba(255, 222, 35, 0.75);
}

h1.home {
  font-size: 60px;
}

a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 2px;
  color: #60BFBF;
  font-weight: 100;
  border-color: #60BFBF;
  margin-top: 20px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

img.img-circle.img-thumbnail.home-image {
  height: 200px;
}
